<!-- =========================================================================================
    File Name: MarketHistory.vue
    Description: MarketHistory
========================================================================================== -->
<template>
  <div class="market-history market-order mt15">
    <b-tabs>
      <b-tab title="Open Orders">
        <b-table
          :items="items"
          :fields="fields"></b-table>
        <span class="no-data" v-if="items.length == 0">
            <i class="icon ion-md-document"></i>
            No data
        </span>
      </b-tab>
      <b-tab title="Closed Orders">
        <b-table
          :items="[]"
          :fields="fields"></b-table>
        <span class="no-data">
            <i class="icon ion-md-document"></i>
            No data
        </span>
      </b-tab>
      <b-tab title="Order history">
        <b-table
          :items="[]"
          :fields="fields"></b-table>
        <span class="no-data">
            <i class="icon ion-md-document"></i>
            No data
        </span>
      </b-tab>
      <b-tab title="Balance">
        <b-table
          :items="items"
          :fields="fields"></b-table>
        <span class="no-data" v-if="items.length == 0">
            <i class="icon ion-md-document"></i>
            No data
        </span>
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>

import DataTable from '~/components/shared/DataTable';

export default {
  name: 'MarketHistory',
    components: {
      DataTable
    },
    data() {
        return {
          fields: [ 'time', 'all_pairs', 'all_types', 'buy/sell', 'price', 'amount', 'executed', 'unexecuted'],
          items: [
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy/sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            },
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy/sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            },
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy/sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            }
          ],
        }
    }
}
</script>