<!-- =========================================================================================
    File Name: MarketTrade.vue
    Description: MarketTrade
========================================================================================== -->
<template>
  <div class="market-trade mt15">
    <b-tabs>
      <b-tab title="Limit">
        <div class="d-flex justify-content-between">
          <div class="market-trade-buy">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn buy">Buy</button>
          </div>
          <div class="market-trade-sell">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn sell">Sell</button>
          </div>
        </div>
      </b-tab>
      <b-tab title="Market">
        <div class="d-flex justify-content-between">
          <div class="market-trade-buy">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn buy">Buy</button>
          </div>
          <div class="market-trade-sell">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn sell">Sell</button>
          </div>
        </div>
      </b-tab>
      <b-tab title="Stop Limit">
        <div class="d-flex justify-content-between">
          <div class="market-trade-buy">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn buy">Buy</button>
          </div>
          <div class="market-trade-sell">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn sell">Sell</button>
          </div>
        </div>
      </b-tab>
      <b-tab title="Stop Market">
        <div class="d-flex justify-content-between">
          <div class="market-trade-buy">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn buy">Buy</button>
          </div>
          <div class="market-trade-sell">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Price" />
              <div class="input-group-append">
                <span class="input-group-text">BTC</span>
              </div>
            </div>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Amount" />
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <ul class="market-trade-list">
              <li>
                <a href="#!">25%</a>
              </li>
              <li>
                <a href="#!">50%</a>
              </li>
              <li>
                <a href="#!">75%</a>
              </li>
              <li>
                <a href="#!">100%</a>
              </li>
            </ul>
            <p>
              Available:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Volume:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Margin:
              <span>0 BTC = 0 USD</span>
            </p>
            <p>
              Fee:
              <span>0 BTC = 0 USD</span>
            </p>
            <button class="btn sell">Sell</button>
          </div>
        </div>
      </b-tab>
    </b-tabs>    
  </div>
</template>
<script>
export default {
  name: 'MarketTrade',
  data() {
    return {}
  }
}
</script>