<!-- =========================================================================================
    File Name: RecenTrades.vue
    Description: RecenTrades
========================================================================================== -->
<template>
  <div class="market-history mt15">
    <b-tabs>
      <b-tab title="Recent Trades">
        <data-table
          :headers="headers"
          :items="items"
        ></data-table>
        <span class="no-data" v-if="items.length == 0">
          <i class="icon ion-md-document"></i>
          No data
        </span>
      </b-tab>
      <b-tab title="Market Depth">
        <data-table
          :headers="headers"
          :items="[]"
        ></data-table>
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>

import DataTable from '~/components/shared/DataTable';

export default {
  name: 'MarketTrade',
    components: {
      DataTable
    },
    data() {
        return {
          headers: [
            {
              key: 'Time',
              class: '',
              width: ''             
            },
            {
              key: 'Price(BTC)',
              class: '',
              width: ''              
            },
            {
              key: 'Amount(ETH)',
              class: '',
              width: ''               
            }
          ],
          items: [
            {
              columns: [
                {
                  class: '',
                  value: '13:03:53'
                },
                {
                  class: 'red',
                  value: 0.020191
                },
                {
                  class: '',
                  value: 0.2155045
                }
              ]
            },
            {
              columns: [
                {
                  class: '',
                  value: '13:03:53'
                },
                {
                  class: 'red',
                  value: 0.020191
                },
                {
                  class: '',
                  value: 0.2155045
                }
              ]
            },
            {
              columns: [
                {
                  class: '',
                  value: '13:03:53'
                },
                {
                  class: 'red',
                  value: 0.020191
                },
                {
                  class: 'green',
                  value: 0.2155045
                }
              ]
            }
          ],
        }
    }
}
</script>